/* header styles */
header {
  background-image: url(../../image/header3.jpg);
  width: 100vw;
  height: 670px;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.middle-text {
  position: absolute;
  top: 270px;
  left: 900px;
  color: rgb(238, 230, 209);
  font-weight: 900;
}
/* button */
.arpeggio-btn {
  background-color: rgb(192, 180, 148);
  font-size: 21px;
  font-weight: 600;
  color: rgb(75, 60, 60);
  border: 1px solid #c9ae65;
  font-weight: 500;
  padding: 7px 16px;
  border-radius: 5px;
  outline: 0;
  border: 0;
  margin-top: 40px;
  margin-left: 130px;
}
