/* footer start */
footer {
  background-color: rgb(7, 34, 36);
  opacity: 0.95;
  color: rgb(221, 220, 214);
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  overflow-x: hidden;
}

.contact h4 {
  border-bottom: 7px solid white;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 60px;
}
.contact p {
  font-size: 15px;
  font-weight: 400;
  padding-right: 50px;
}
.about ul li {
  color: white;
  font-size: 22px;
  text-align: center;
}
.download ul li span {
  color: white;
  margin-right: 20px;
}
.download ul li i {
  color: white;
}
.download .fa-apple {
  margin-top: 20px;
  margin-left: 37px;
  font-size: 23px;
}
.contact-info ul li i {
  color: white;
  margin-left: 10px;
  margin-right: 30px;
}
.contact-info ul li span {
  color: white;
  font-size: 12px;
}
/* footer end */
