/* navbar styels */
nav {
  background-color: rgb(7, 34, 36);
  opacity: 0.85;
  width: 100vw;
  height: 70px;
}
nav h1 {
  color: rgb(202, 182, 131);
  font-weight: 900;
  margin-left: 50px;
  font-size: 40px;
}
nav .nav-item {
  color: rgb(212, 197, 156);
  font-weight: 500;
  list-style: none;
  margin-right: 30px;
  font-size: 22px;

  cursor: pointer;
  padding: 5px;
  text-decoration: none;
}
nav .nav-item:hover {
  color: darkgoldenrod;
}
